body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', 'Segoe UI', Tahoma, Geneva;
  background-color: #175024;
}
.header {
  border-bottom: 3px solid #80e362;
  color: #a0e362;
}
.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
.navbar {
  list-style: none;
  display: flex;
  width: 600px;
  justify-content: space-evenly;
  align-items: center;
  color: #80e362;
  margin-left: 500px;
}
.navbar a {
  color: #80e362;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar a:hover {
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}

.banner {
  height: 810px;
  color: #fff;
}
.banner .container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.entrada {
  color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  height: 35px;
  border-radius: 10px 10px 10px 10px;
  border: #80e362 solid 2px;
  font-size: 20px;
}
.dados {
  font-size: 30px;
}
.entrada h1 {
  font-size: 40px;
}
#resultado {
  background-color: #80e362;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.result {
  padding: 30px;
}
.footer {
  background-color: #175024;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
  border-top: #80e362 solid 3px;
}

.footer .container {
  justify-content: center;
}

h4 {
  margin: 0;
  padding: 0;
}
