body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', 'Segoe UI', Tahoma, Geneva;
  background-color: #175024;
}
.header {
  border-bottom: 3px solid #80e362;
  color: #a0e362; 
}
.container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
.navbar {
  list-style: none;
  display: flex;
  width: 600px;
  justify-content: space-evenly;
  align-items: center;
  color: #80e362;
}
.navbar a {
  color: #80e362;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar a:hover {
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}

.banner {
  height: 720px;
  color: #fff;
  background-image: url('https://www.srimplementos.com/upload/noticias_21_454_1564148630.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .login {
  background-color: rgb(229, 229, 229, 0.8);
  color: #1ca333;
  height: 510px;
  width: 47%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.banner h2 {
  font-size: 35px;
  display: flex;
  justify-content: center;
}
.email {
  font-size: 25px;
  margin-top: 20px;
  font-weight: 700;
  align-self: center;
}
#in_email {
  height: 45px;
  width: 42%;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
  border: #80e362 solid;
  margin-top: 10px;
  align-self: center;
}
.senha {
  font-size: 25px;
  margin-top: 40px;
  font-weight: 700;
  align-self: center;
}

#in_senha {
  height: 45px;
  width: 42%;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
  border: #80e362 solid;
  margin-top: 10px;
  align-self: center;
}
.botoes {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
#enter {
  height: 45px;
  width: 27%;
  border-radius: 10px 10px 10px 10px;
  background-color: #829b11;
  border: #829b11 solid;
  color: #fff;
  font-size: 20px;
  transition: all 1s ease;
}

#enter:hover {
  height: 45px;
  width: 35%;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
  border: #829b11 solid;
  color: #829b11;
  font-size: 20px;
  transition: all 1s ease;
}
#register {
  display: flex;
  height: 45px;
  width: 27%;
  border-radius: 10px 10px 10px 10px;
  border: #829b11 solid;
  color: #fff;
  background-color: #829b11;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: all 1s ease;
}

#register:hover {
  display: flex;
  height: 45px;
  width: 35%;
  border-radius: 10px 10px 10px 10px;
  border: #829b11 solid;
  color: #829b11;
  background-color: #fff;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: all 1s ease;
}

#register a {
  color: #fff;
  text-decoration: none;
  transition: all 1s ease;
}

#register a:hover {
  color: #829b11;
  text-decoration: none;
  transition: all 1s ease;
}

.footer {
  background-color: #392620;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  border-top: #62e378 solid 3px;
}

.footer .container {
  justify-content: center;
}

h4 {
  margin: 0;
  padding: 0;
}
